<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">perm_identity</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Личные данные</h4>
                        <form method="get" action="/" class="form-horizontal">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                            <div class="fileinput-new thumbnail img-circle">
                                                <img src="../../assets/img/placeholder.jpg" alt="...">
                                            </div>
                                            <div class="fileinput-preview fileinput-exists thumbnail img-circle"></div>
                                            <div>
                                        <span class="btn btn-round btn-rose btn-file">
                                            <span class="fileinput-new">Add Photo</span>
                                            <span class="fileinput-exists">Change</span>
                                            <input type="file" name="..." />
                                        </span>
                                                <br />
                                                <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-md-offset-1">
                                        <div class="row">
                                            <label class="col-sm-2 label-on-left">Имя</label>
                                            <div class="col-sm-10">
                                                <div class="form-group label-floating is-empty">
                                                    <label class="control-label"></label>
                                                    <input type="text" class="form-control" value>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-2 label-on-left">Фамилия</label>
                                            <div class="col-sm-10">
                                                <div class="form-group label-floating is-empty">
                                                    <label class="control-label"></label>
                                                    <input type="password" class="form-control" value>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-2 label-on-left">Эл. адрес</label>
                                            <div class="col-sm-10">
                                                <div class="form-group">
                                                    <p class="form-control-static">hello@creative-tim.com</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-2 label-on-left">Телефон</label>
                                            <div class="col-sm-10">
                                                <div class="form-group">
                                                    <p class="form-control-static">+380931562378</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-2 label-on-left"></label>
                                            <div class="col-sm-10">
                                                <div class="checkbox checkbox-inline">
                                                    <label>
                                                        <input type="checkbox" name="optionsCheckboxes">Добавить мастера для онлайн-записи
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-4">-->
                <!--<div class="card card-profile">-->
                    <!--<div class="card-avatar">-->
                        <!--<a href="#pablo">-->
                            <!--<img class="img" src="../../assets/img/faces/marc.jpg" />-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="card-content">-->
                        <!--<h6 class="category text-gray">CEO / Co-Founder</h6>-->
                        <!--<h4 class="card-title">Alec Thompson</h4>-->
                        <!--<p class="description">-->
                            <!--Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...-->
                        <!--</p>-->
                        <!--<a href="#pablo" class="btn btn-rose btn-round">Follow</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>
